<a href="https://colab.research.google.com/github/vijaydandu1/dandu_IT533/blob/main/dandu_kickstarter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing all necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Using pandas library to import Kickstarter dataset from Github
kickstart = pd.read_csv("https://raw.githubusercontent.com/vijaydandu1/dandu_IT533/main/kickstarter.csv", encoding ="ISO-8859-1")

In [3]:
kickstart

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191580,55596200,Plateforme de statistiques,Apps,Technology,EUR,3/2/2018,9000,1/1/2018 15:40,0.00,live,0,FR,0.00,0.00,10923.26
191581,872683023,The Lewisham Ledger - a new free local communi...,Print,Journalism,GBP,3/2/2018,5000,1/1/2018 21:20,350.00,live,7,GB,364.86,477.39,6819.89
191582,1036415983,Aikyam : Onnu,Music,Music,USD,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.00
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,USD,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.00
191584,22387366,Nerd Collect,Apps,Technology,GBP,3/3/2018,150000,1/2/2018 3:26,0.00,live,0,GB,0.00,0.00,204596.60

In [4]:
# To find the structure, rows and columns of dataset.
kickstart.info

<bound method DataFrame.info of                 ID                                               name  \
0       1008941852                       The return of BABY UNIVERSE!
1       1013503401                                             Potjie
2       1020446396  Stilt City- A Bungalow Artist Space in The Roc...
3       1028008131       A 2D SideScroller RPG Made by YOU (Canceled)
4       1049544313                                       Balteus Belt
...            ...                                                ...
191580    55596200                         Plateforme de statistiques
191581   872683023  The Lewisham Ledger - a new free local communi...
191582  1036415983                                      Aikyam : Onnu
191583  1916988520                          Back in Black Hills Movie
191584    22387366                                       Nerd Collect

           category main_category currency  deadline    goal  \
0         Immersive       Theater      USD  1/1/2015   15000
1             Drama  Film & Video      GBP  1/1/2015    4500
2        Public Art           Art      USD  1/1/2015   60000
3       Video Games         Games      USD  1/1/2015   20000
4           Apparel       Fashion      USD  1/1/2015    8000
...             ...           ...      ...       ...     ...
191580         Apps    Technology      EUR  3/2/2018    9000
191581        Print    Journalism      GBP  3/2/2018    5000
191582        Music         Music      USD  3/3/2018   10000
191583        Drama  Film & Video      USD  3/3/2018    5500
191584         Apps    Technology      GBP  3/3/2018  150000

                launched   pledged       state  backers country  usd pledged  \
0        12/4/2014 21:37  11880.18      failed       46      US     11880.18
1        12/2/2014 18:10   4843.00  successful       67      GB      7560.32
2       11/19/2014 23:14  18087.00    canceled      204      US     18087.00
3        12/2/2014 22:02      9.00    canceled        2      US         9.00
4       11/18/2014 21:17   1563.00      failed       16      US      1563.00
...                  ...       ...         ...      ...     ...          ...
191580    1/1/2018 15:40      0.00        live        0      FR         0.00
191581    1/1/2018 21:20    350.00        live        7      GB       364.86
191582     1/2/2018 8:11    174.00        live        3      US       174.00
191583     1/2/2018 1:16      0.00        live        0      US         0.00
191584     1/2/2018 3:26      0.00        live        0      GB         0.00

        usd_pledged_real  usd_goal_real
0               11880.18       15000.00
1                7477.46        6947.88
2               18087.00       60000.00
3                   9.00       20000.00
4                1563.00        8000.00
...                  ...            ...
191580              0.00       10923.26
191581            477.39        6819.89
191582            174.00       10000.00
191583              0.00        5500.00
191584              0.00      204596.60

[191585 rows x 15 columns]>

In [5]:
kickstart.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                  int64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [6]:
#Removing empty rows or rows with missing data
kickstart = kickstart.dropna(inplace= True)