<a href="https://colab.research.google.com/github/vijaydandu1/dandu_IT533/blob/main/Week3DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
kickstarter = pd.read_csv("https://raw.githubusercontent.com/vijaydandu1/dandu_IT533/main/kickstarter.csv", encoding ="ISO-8859-1")
kickstarter.dropna(inplace=True)

In [ ]:
k = kickstarter
k

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191580,55596200,Plateforme de statistiques,Apps,Technology,EUR,3/2/2018,9000,1/1/2018 15:40,0.00,live,0,FR,0.00,0.00,10923.26
191581,872683023,The Lewisham Ledger - a new free local communi...,Print,Journalism,GBP,3/2/2018,5000,1/1/2018 21:20,350.00,live,7,GB,364.86,477.39,6819.89
191582,1036415983,Aikyam : Onnu,Music,Music,USD,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.00
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,USD,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.00
191584,22387366,Nerd Collect,Apps,Technology,GBP,3/3/2018,150000,1/2/2018 3:26,0.00,live,0,GB,0.00,0.00,204596.60

1. Data Transformation: Pick three variables whose data types may be more useful as another data type and utransform them to numeric or character/ categorical format. Then, insert a text section into your notebook and explain in no less than 3 sentences what this transformation will allow you to accomplish analytically later on.

In [ ]:
#First Variable: state

k=kickstarter
k['state_num'] = k.state
k['state_num']= k['state_num'].astype('category')
k['state_num']= k['state_num'].cat.codes
k.dtypes[['state','state_num']]

state        object
state_num      int8
dtype: object

In [ ]:
# First, we back the dataframe up.
k=kickstarter

# Now we build the column and copy the original values into it
k['category_num'] = k.category

# Third, we convert category_num into categorical
k['category_num']= k['category_num'].astype('category')

# Then, we replace the strings with the category indices
k['category_num']= k['category_num'].cat.codes

# Now, we check the data types
k.dtypes[['category','category_num']]

category        object
category_num     int16
dtype: object

In [ ]:
# Third Variable: pledged

k=kickstarter
k['pledged_int'] = k.pledged
k['pledged_int']= k['pledged_int'].astype('int32')
k.dtypes[['pledged','pledged_int']]

pledged        float64
pledged_int      int32
dtype: object

In [ ]:
k.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,pledged_int,category_num
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00,1,11880,71
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,3,4843,40
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00,0,18087,114
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00,0,9,148
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00,1,1563,7

The above lines of code performs the data transformation, in which the raw data uploaded through the url is converted into well structured or formatted. 

The new formatted file does not have null values, duplicates and other non-compatible values which can halt the execution of the program. 

Kickstarter data is now categorized into a format where there are no impediments while executing any piece of code.

2. Data Substitution: Substitute values in at least two variables. Insert a text section into your notebook and explain in no less than 3 sentences how you decided what values to use for substitution and, in addition to your explanation, show your code.

In [ ]:
#variable 1: main_category-Technology
k2 = kickstarter
k2.main_category.unique()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Technology', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [ ]:
# Instead of building another column to see any transformations, we will substitute data in place this time around.
# For this purpose, we're using the replace() method from pandas
k2.main_category.replace('Technology','Automation', inplace=True)

# Did we indeed replace all '?'? Let's check:
k2[k2['main_category'] == 'Technology']

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real, state_num, pledged_int, category_num]
Index: []

In [ ]:
k2.main_category.unique()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Automation', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [ ]:
#Variable 2: "state-canceled"
k2.state.unique()

array(['failed', 'successful', 'canceled', 'suspended', 'live'],
      dtype=object)

In [ ]:
k2.state.replace('canceled','cancelled', inplace=True)
k2.state.unique()

array(['failed', 'successful', 'cancelled', 'suspended', 'live'],
      dtype=object)

For the data substitution, I substituted "cancelled" with canceled in the "state" variable because "cancelled" is misspelled. 

In the given dataset, I replaced the Technology with "Automation" to remove duplication of the same category.

The above are some of the examples for the data substitution. If there are any corrections in the raw data, data substitution becomes very useful.

3. Data Reduction: Pick two variables that could be simplified by binning or bucketing, or by normalization or standardization. Then perform the operation(s) you have chosen. Insert a text section into your notebook and explain in no less than 3 sentences what benefit this may provide for any later analysis.

In [ ]:
kickstarter.backers.describe()

In [ ]:
bins = np.linspace(kickstarter.backers.min(),kickstarter.backers.max(),7)
bins

In [ ]:
labels = ['very_low', 'low', 'medium','Moderate_high' ,'high','very_high']

In [ ]:
# Variable 1: backers simplified by using Binning methods.
k3 = kickstarter
k3['bins'] = pd.cut(k3['backers'], bins=bins, labels=labels, include_lowest=True)
k3[k3.backers>= 40000]

In [ ]:
k3.groupby(['bins']).count()

In [ ]:
kickstarter.usd_goal_real.describe()

In [ ]:
# Variable 2: usd_goal_real simplified by using Bucketing method.
# Setting up our 5 buckets and their labels
buckets = [ 0, 30279173.98, 60558347.96, 90837521.94, 121116695.9 ,151395869.9]
bucketlabels = ['very_low', 'low', 'middle', 'high', 'super-high']

# Using cut() to separate data into the buckets we have built
k3['buckets'] = pd.cut(k3['usd_goal_real'] , bins=buckets, labels=bucketlabels, include_lowest=True)

# Check if we have the new attribute 'buckets' at the end of our dataset
k3[k3.usd_goal_real>= 70000000]

In [ ]:
k3.groupby(['buckets']).count()

For Data reduction, I chose the backers variable values to minimize using the binning method because the backers data in this data set is used to determine how many backers each ID has, and categorizing it in terms of range is helpful in determining the range it falls into.

I chose usd goal real variable values to minimize using the bucketing approach because grouping usd goal real in terms of range is useful for determining which range it falls into when analyzing how prots we acquire.


For backers data, I used the binning approach because backers data should be distributed evenly, and for usd real goal, I chose the bucketing method since it is not necessary to distribute predicted profits equally.

*4. Now that you have a better dataset, think about any important organizational analytical questions that management could ask about the dataset in order to help them make business or organizational decisions. *

From the above analysis, there can be a co-relation between the backers and usd real goal. How does the backers have implication on the overall state of the project?